.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  /* background-image: linear-gradient(to bottom, white, rgb(155, 228, 233) 60%); */
  height: 20vh;
  width: 100%;
  position: sticky;
  margin-bottom: 15px;
}

.footer-note {
  margin-bottom: 1rem;
}

.footer-icons {
  /* margin-bottom: 10px; */
}
.footer-icons a {
  color: black;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 50px;
}

.footer-legal {
  display: flex;
  justify-content: space-between;
  align-self: flex-start;
  font-size: 15px;
  text-decoration: none;
  margin-left: 30px;
}
.footer-legal text {
  text-decoration: none;
  color: grey;
}
.footer-legal a {
  text-decoration: none;
  color: black;
}
.footer-legal .documents {
  display: flex;
  width: 300px;
  justify-content: space-around;
}

@media screen and (max-width: 960px) {
  .footer-legal {
    flex-direction: column;
    margin-top: 10px;
  }
  .footer-legal .bar {
    display: none;
  }
  .footer-legal .documents {
    justify-content: space-around;
    margin-top: 10px;
  }
}
